{{ define "main" }}
  {{ $lemmarioByAlpha := (partialCached "get_lemmario_by_alpha" .) }}
  {{ $lemmarioByLastMod := (partialCached "get_lemmario_by_lastmod" .) }}
  <h1 class="text-2xl font-bold">{{ .Title | humanize }}</h1>
  <div class="grow mt-6">
    {{ .Content | markdownify }}
  </div>
  <div x-data x-cloak>
    <div class="mt-9 flex flex-wrap gap-3" x-show="$store.lemmario.orderBy == 'alpha'">
      {{ with $lemmarioByAlpha.Next . }}
        <a href="{{ .RelPermalink }}" class="grow block p-3 border border-slate-500 font-bold bg-slate-200">{{ .Title }}</a>
      {{ end }}
      {{ with $lemmarioByAlpha.Prev . }}
        <a href="{{ .RelPermalink }}" class="grow block p-3 border border-slate-500 font-bold bg-slate-200">{{ .Title }}</a>
      {{ end }}
    </div>
    <div class="mt-9 flex flex-wrap gap-3" x-show="$store.lemmario.orderBy == 'time'">
      {{ with $lemmarioByLastMod.Next . }}
        <a href="{{ .RelPermalink }}" class="grow block p-3 border border-slate-500 font-bold bg-slate-200">{{ .Title }}</a>
      {{ end }}
      {{ with $lemmarioByLastMod.Prev . }}
        <a href="{{ .RelPermalink }}" class="grow block p-3 border border-slate-500 font-bold bg-slate-200">{{ .Title }}</a>
      {{ end }}
    </div>
  </div>
{{ end }}